header{
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
  height: 68px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  border-bottom: 1px solid #aaa;
  background-color: #fff;
  z-index: 10;
}

header .nav{
  display: flex;
  color: #999;
  min-width: 20px;
}

header .nav--mobile{
  flex-direction: column;
  position: fixed;
  top: 70px;
  left: 0;
  right: 0;
  border-bottom: 1px solid #aaa;
  background-color: #fff;
}

@media screen and (min-width: 650px){
  header .nav--mobile{
    display: none;
  }
}

header .nav--mobile li {  
  font-size: 14px;
  padding: 10px 0;
}

header .nav--mobile li:last-child{
  background-color: #fafafa;
}

header .nav--mobile li a{
  padding: 8px;
  display: block;
  margin: 0 auto;
  width: 96px;
  text-align: center;
}

header .menu-btn{
  cursor: pointer;
}

/* header img[alt='logo']{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */
/* 
header img[alt='menu-close']{
  display: none;
}

header .is-menu-open img[alt='menu-close']{
  display: block;
}

header .is-menu-open img[alt='menu']{
  display: none;
} */

header .nav--desktop ul{
  display: flex;
}

header .nav--desktop li{
  font-size: 12px;
  margin-right: 20px;
}

main{
  padding-top: 68px;
  overflow: hidden;
}

.footer-subscribe{
  padding-bottom: 30px;
  padding-top: 30px;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
}

.footer-subscribe__tile{
  display: grid;
  grid-gap: 24px;
}

@media screen and (min-width: 768px){
  .footer-subscribe__tile{    
    grid-template-columns: 1fr 1fr;    
  }
}

.footer-subscribe__tile>div{
  display: grid;
  grid-gap: 12px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 32px 32px;
}

.footer-subscribe__tile-1-3{
  grid-column: 1/3;
}

.footer-subscribe__form{
  display: flex;
  border: 1px solid #aaa;
  border-radius: 4px;
}
.footer-subscribe__form input{
  flex:1;
  background-color: #ddd;
  border: none;
  border-right: 1px solid #aaa;
  padding: 6px;
}
.footer-subscribe__form button{
  border: none;
  background-color: #fff;
  cursor: pointer;
  color: #aaa;
}

.footer-bottom{
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
  height: 68px;
}

footer .nav{
  display: flex;
  color: #999;
}

footer .nav li{
  font-size: 12px;
  margin-right: 20px;
}

